{% extends "base.html" %}

{% block title %}Signup - WhatIsAround{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="/static/login.css">
{% endblock %}

{% block content %}
    <div class="signup-container">
        <h3 class="text-center mb-4">Sign Up</h3>
        <div>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <p class="{{ category }}">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
    
        </div>
        <form class="row g-3" method="POST">
            <div class="col-md-6">
                <label for="inputEmail4" class="form-label">Username</label>
                <input type="text" name="username" class="form-control" id="inputEmail4" placeholder="Enter your username">
            </div>
            <div class="col-md-6">
                <label for="inputAddress" class="form-label">First Name</label>
                <input type="text" name="fname" class="form-control" id="inputAddress" placeholder="John">
            </div>
            <div class="col-12">
                <label for="inputPassword4" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" id="inputPassword4" placeholder="Enter your password">
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </div>
        </form>
    </div>
{% endblock %}